doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Ejemplo con el motor de plantilla PUG
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint animi molestiae neque vel maiores? Alias atque voluptatibus hic soluta ullam! Iusto est nostrum, cum repudiandae dignissimos pariatur facilis assumenda maiores.
        p=lenguajes

        ul 
         each len in lenguajes
            li= len
        
        table(border=1)
            each len in lenguajes
                tr 
                    td= len
        h1 Datos de la Persona 
        p= persona.nombre
        p= persona.edad
        p= persona.ci